@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    @apply md:text-7xl text-5xl font-semibold
}
h2 {
    @apply md:text-5xl text-4xl font-medium
}
h3 {
    @apply md:text-4xl text-3xl font-medium
}
p {
    @apply md:text-2xl text-[22px]
}
.gr {
    @apply text-[#4f4f4f]
}

.ts {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

svg {
    stroke-width: 1.7;
    @apply w-7 h-7 
}
.b {
    color: #E40076;
}
.b-bg {
    background: #E40076;
}
.l {
    color: #6e9d31;
}
.l-lg {
    background: #6e9d31;
}
.no-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.ani {
    animation: aniA 0.3s linear 0s 1 normal ;
}
@keyframes aniA {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}